body {
	background-color: #111;
	margin:20px;
	font-family: sans-serif;
	font-size: 14px;
	color: #CCC;
}

a:active, a:visited, a:link {
	color: #CCC;
}

a:hover {
	text-decoration:none;
}

strong {
	color: #FFF;
}